# See http://help.github.com/ignore-files/ for more about ignoring files.

*

!*.ts
!*.tsx
!*.scss
!*.css
!*.html
!dist/WKCM2.user.js
!google-apps-script/
!.babelrc.js
!.gitignore
!LICENSE
!README.md
!WKCMDB_legacy.csv
!dev.user.js
!jsconfig.json
!legacy_db_preprocess.ipynb
!meta.json
!package-lock.json
!package.json
!rollup.config.mjs
!server.js
!tsconfig.json
