
$rad: #0af;
$rad-shadow: #0093dd;
$kan: #f0a;
$kan-shadow: #dd0093;
$voc: #a0f;
$voc-shadow: #9300dd;
$read: #555;
$read-shadow: #333;

$request: #e1aa00;
$request-dark: #e76000;
$request-shadow: #d57602;

$mnen-available: #71aa00;
