// Styles for the general page layout

.cm-content{
    height: 100%; min-height: 300px;
    text-align: left;
}
#cm-meaning, #cm-reading{
    display: inline-block;
}

#cm-reading{
    display: inline-block;
}
.cm{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow: auto;
    // text-align: center;
}
