// Styles for the general page layout

.cm-header{
    text-align: left;
}
.cm-content{
    padding: 0px 0px 0px 0px;;
    // width: ${(isItem ? '95%' : '47%')};
    width: '47%';
    height: 100%; min-height: 300px;
    text-align: left;
}
#cm-meaning{
    display: inline-block;
    margin-left: auto;
    vertical-align: top;
}
#cm-reading{
    display: inline-block;
    margin-right: auto;
    vertical-align: top;
}
.cm{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow: auto;
    text-align: center;
}
/*Below this size, displayed below each other. Fill full width*/
@media only screen and (max-width: 1530px) {
    // .cm-content{width: 95%;}
}