@use "highlight";
@use "colors";

body
{
    font-size: 100% !important;
    font-weight: 300 !important;
    line-height: 1.5 !important;
    /*Item Page has different background color. Item: #eee. Other: #fff*/
    /*background-color: ${(isItem ? '#eee' : '#fff')} !important;*/
    background-color: #fff !important;
    font-family: "Ubuntu",Helvetica,Arial,sans-serif;
}

/* The scrollbar is ugly af. At least on Chrom*. Hide scrollbar in iframe, but it is still scrolable, if mnem is long.
   TODO: display scrollbar again, only when mnem is long. (Maybe determine by line count. )
 */
::-webkit-scrollbar{display: none;}
* {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}


/*
.highlight-kanji.highlight-kanji { ${kanHighlight } }
.highlight-vocabulary.highlight-vocabulary { ${vocHighlight} }
.highlight-radical.highlight-radical { ${radHighlight} }
.highlight-reading.highlight-reading { ${readHighlight} }
*/

