@use "colors";


.subject-legend__item {
    flex: 0 0 17%; 
}


.commnem-badge:before {
    background-color: #71aa00;
    text-shadow: 0 2px 0 #1a5300;
}

.commnem-badge-req:before {
    background-color: colors.$request;
    text-shadow: 0 2px 0 colors.$request-shadow;
}

.subject-legend__item-badge--cm-requested {
    background-color: colors.$request;
}

.subject-legend__item-badge--cm-available {
    background-color: colors.$mnen-available;
}

.subject-legend__item-badge--cm-requested, .subject-legend__item-badge--cm-available {
    width: 2em;
    height: 2em;
    line-height: 2.1;
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
    text-shadow: 0 1px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 -2px 0px rgb(0 0 0 / 20%) inset, 0 0 10px rgb(255 255 255 / 50%);
    margin-bottom: 14px;
    text-align: center;
}